html,body,h1,h2,h3,h4,h5,h6 {font-family: "Helvetica Neue", sans-serif}
p {font-family: "Helvetica Neue", sans-serif}
summary {
display: block;
}

@media (min-width: 572px) {
    .sp-only {
        display: none;
    }
}

.responsive {
    width: 30%;
    height: auto;
  }