html,body,h1,h2,h3,h4,h5,h6 {font-family: "Helvetica Neue", sans-serif}
p {font-family: "Helvetica Neue", sans-serif}
summary {
display: block;
}

/* Chrome、Safari */
summary::-webkit-details-marker {
display: none;
}
    .lang {
    display: block;
    width: 200px;
    height: 36px;
    line-height: 28px;
    text-align: center;
    margin-left: auto;
    background: #42602D;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 4px;
}